<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>All users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Test spring application</h1>
    <p>This is list of all users</p>
    <div class="jumbotron">
        <h1 class="display-4" th:text="${count}"></h1>
        <p class="lead">All users counts</p>
    </div>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last Name</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId().toString()}"></td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
        </tr>
    </table>
</div>
</body>

</h>